<div class="container formulario">
    <h1> Registre su Paciente </h1>
    <div class="row">
        <div class="col">
            <label for=""> Nombre </label>
            <input type="text" id="nombre" class="form form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for=""> Edad </label>
            <input type="text" id="edad" class="form form-control" />
        </div>
        <div class="col">
            <label for=""> Peso </label>
            <input type="text" id="peso" class="form form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for=""> Estatura </label>
            <input type="text" id="estatura" class="form form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for=""> Descripcion </label>
            <input type="text" id="descripcion" class="form form-control" />
        </div>
        <div class="col">
            <label for=""> Prioridad </label>
            <input type="text" id="prioridad" class="form form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for=""> Fuma </label>
            <input type="text" id="fuma" class="form form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for=""> Dieta </label>
            <input type="text" id="dieta" class="form form-control" />
        </div>
        <div class="col">
            <label for=""> Historia Clinicas </label>
            <input type="text" id="historias" class="form form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" (click)="RegistarPaciente()" type="button"> Registrar </button>
            </div>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col">
            <table class="table table-dark table-hover">
                <tr>
                    <thead>
                        <th scope="col">Paciente</th>
                        <th> Peso </th>
                        <th scope="col">Edad</th>
                        <th> Estatura </th>
                        <th>  Descripcion </th>
                        <th>  Historia </th>
                    </thead>
                    <tbody *ngFor="let item of mayores">
                        <td scope="row"> {{ item.Nombre }} </td>
                        <td scope="row"> {{ item.Peso }} </td>
                        <td scope="row"> {{ item.Edad }} </td>
                        <td scope="row"> {{ item.Estatura }} </td>
                        <td scope="row"> {{ item.Descripcion }} </td>
                        <td scope="row"> {{ item.HistoriaClinicas }} </td>
                    </tbody>
                </tr>
            </table>
        </div>
        <div class="col">
            <table class="table table-dark table-hover">
                <tr>
                    <thead>
                        <th scope="col">Paciente</th>
                        <th> Peso </th>
                        <th scope="col">Edad</th>
                        <th> Estatura </th>
                        <th>  Descripcion </th>
                        <th>  Historia </th>
                    </thead>
                    <tbody *ngFor="let item of fumadores">
                        <td scope="row"> {{ item.Nombre }} </td>
                        <td scope="row"> {{ item.Peso }} </td>
                        <td scope="row"> {{ item.Edad }} </td>
                        <td scope="row"> {{ item.Estatura }} </td>
                        <td scope="row"> {{ item.Descripcion }} </td>
                        <td scope="row"> {{ item.HistoriaClinicas }} </td>
                    </tbody>
                </tr>
            </table>
        </div>
    </div>
</div>